* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

/* NavBar */

.navbar {
    /* font-size: 125%; */
    border-bottom: 2px solid lightgray;
}

.navigation {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

img.roseLogo {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin-right: 10px;
}

.navName {
    font-family: 'Pacifico', cursive;
    font-size: 1.35rem;
}

.navbar-nav {
    font-size: 125%;
    font-family: 'Fjalla One', sans-serif;
}


/* About/Home Page */

.about {
    /* margin-top: 30px; */
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0,0,0,0.75)
      ),    
    url("../images/mcway2.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.aboutIntro {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}


/* Profile page */

.profileInfo {
    margin-top: 30px;
}

.myPic {
    width: 100%;
    /* height: 100%; */
    border-radius: 50px;
    /* vertical-align: middle; */
}

.profileInfo img {
    width: 75%;
}




/* Portfolio Section */

.portfolio {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0,0,0,0.75)
      ),    
    url("../images/mcway2.jpg");
    background-repeat: no-repeat;
    /* background-size:contain;
    background-position:center; */
    background-size: auto 100%;
    background-attachment: fixed;
}

.imageMargin {
    margin-bottom: 20px;
}

.projectImageContainer {
    margin-top: 30px;
    padding: 30px;
    /* border: 1px solid black; */
    /* border-radius: 20px; */
}

.projectTextContainer h3 {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: center;
    /* display: inline-block;
    align-content: center; */
    /* border-bottom: 2px solid white; */
}

.projectImageContainer img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: 3px solid white;
}

.imgHoverStyle {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.imgOverlayTextYellow {
    text-align: center;
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background-color: rgba(46,204,113,0.4);
    background: linear-gradient(65deg, rgba(46,204,113,0.4), rgba(243,156,18,0.4));
    color: #fafafa;
    font-size: 30px;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.imgOverlayTextGreen {
    text-align: center;
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background: linear-gradient(65deg, rgba(46,204,113,0.4), rgba(102,51,153,0.4) 60%);
    background-color: rgba(46,204,113,0.4);
    color: #fafafa;
    font-size: 30px;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.imgOverlayTextRed {
    text-align: center;
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background: linear-gradient(65deg, rgba(217,30,24,0.4), rgba(102,51,153,0.4) 60%);
    background-color: rgba(217,30,24,0.4);
    color: #fafafa;
    font-size: 30px;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.imgOverlayTextYellow:hover {
    opacity: 1;
}

.imgOverlayTextGreen:hover {
    opacity: 1;
}

.imgOverlayTextRed:hover {
    opacity: 1;
}




/* Contact page */

body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* fixed = parallax
    scroll = normal */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url("../images2/dallas.jpg");
    min-height: 100%;
}

.pimg2 {
    background-image: url("../images2/ocean1.jpg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("../images2/city.jpg");
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111111;
    color: white;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width: 568px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}

/* @media  */


