* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.about {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0,0,0,0.75)
      ),    
    url("../images/mcway2.jpg");
    background-repeat: no-repeat;
    /* background-size:contain;
    background-position:center; */
    background-size: 100% 100%;
}

.navigation {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

/* Portfolio Section */

img {
    width: 100%;
}